// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// IMPORT PARTIALS
@import './partials/restaurant';
@import './partials/dish';
@import './partials/header';
@import './partials/form';
@import './partials/footer.scss';
@import './partials/order';

// LOGIN&REGISTERED
.card_header{
    color: $colorBrand2;
}

div.height{
    height: 100vh;
}

@media screen and (max-width:991px) {
    div.height{
        height: 100%;
    }
}