.my_btn{
    padding: 0px;
    border: 0px;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
}
.img-btn{
    width: 40px;
}
.btn_container{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.dish-info{
    max-height: 150px;
}