header{
    background-color: $colorBrand2;
    font-family: 'Livvic', sans-serif;
}

.logo-brand{
    font-family: 'Livvic', sans-serif;
    font-size: x-large;
}
.img-brand{
    width: 50px;
    object-fit: cover;
}
